.controlSection {
  margin: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.gridContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.imageSection {
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  margin: auto;
}

.inferenceButton {
  margin-top: 1em;
}

.dropzone{
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzoneContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}